@import url("style.css");

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

  header > div {
    align-self: flex-end;
  }
  header > span {
    align-self: flex-end;
  }

fieldset {
  border: none;
}

.container.index_banner {
  margin: 130px 0px;
}

.title {
  font-weight: 800;
  color: #d84780;
  font-size: 4.5em;
}

footer {  
    border: 0;
    border-top: 1px;
    border-color: grey;
    border-style: solid;
    padding-top: 15px;
    margin-top: 5px;
}